<div class="col-10 offset-1">
<h2>Scheduled workouts</h2>
<%= link_to 'Create workout', '#' %>
  <% @upcoming_workouts.each do |workout| %>
  <div>
      <%= workout.scheduled_for.strftime("%a, %b %d, %Y at %I:%M %p") %> -
      <%= link_to workout.title, user_workout_path(current_user, workout) %>
      </div>
  <% end %>

</div>
