<div class="main center-flex">
  <div class="message">
    <h1 class="mb-4">Enhance your home fitness routine</h1>
    <h3>Use Youtube videos to plan and schedule your workouts</h3>
    <div class="clearfix"></div>
    <br />
    <%= link_to 'Build your fit channel', new_user_registration_path, class: "btn btn-info" %>
  </div>
</div>
